<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="app" connectionString="Data Source=APP\SQLEXPRESS;Initial Catalog=i_collect;UID=koanvi_reader;PASSWORD=07831505Kate!" providerName="System.Data.SqlClient" />
    <add name="app from out" connectionString="Data Source=109.68.191.63\SQLEXPRESS;Initial Catalog=i_collect;UID=koanvi_reader;PASSWORD=07831505Kate!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>